{% load static %}
{% csrf_token %}

<!-- display message -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div  {% if message.tags %} class="{{ message.tags }}"{% endif %}  id ="overlayMessage">
            <div class="alert alert-success alert-dismissible position-sticky">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>New message!</strong> {{ message }}
              </div>
        </div>
        
        {% endfor %}
    </ul>
{% endif %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes Taking App </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script type="text/javascript" src="{% static 'js/frontend_helper.js' %}"></script>
    <style>
      .card {
        transition: border-color 1s, box-shadow 0.5s;
      }

      .card:hover {
        border-color: rgba(13, 110, 253, 0.7);
        box-shadow: 0px 0px 10px 2px rgba(13, 110, 253, 0.6);
      }
    </style>
  </head>
  <body>

    <!-- Nav Bar of app -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <a class="navbar-brand" href="#">QuickNotes</a>

          
            <div class="container d-flex justify-content-end">
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>


      <div class="container d-flex justify-content-end">
        <ul class="navbar-nav d-flex justify-content-between">
          <li class="nav-item active">

            <a type="button" class="btn btn-warning my-2 mx-lg-0" href="{% url 'accounts:logout'%}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-dash" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7ZM11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1Zm0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
              </svg> Logout
            </a>

            <button type="button" class="btn btn-success my-2 mx-lg-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"></path>
              </svg> Profile
            </button>

            <a type="button" class="btn btn-light my-2 mx-lg-0" href="https://github.com/MasterZesty/QuickNote">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg> Github
            </a>

          </li>
        </ul>
      </div>
    </nav>

    <!-- Display all notes as cards -->
    
    <!-- call to action text -->

    <!-- Create Button -->
    <div class="d-flex justify-content-center mt-4">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#create_staticBackdrop">
    <h1 class="text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    Capture Your Thoughts!!</i></h1>
    </button>
  </div>

    <!-- Create Button Trigger Modal - Vertically centered modal-->
                    <div class="modal fade" id="create_staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Create New Note
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <!-- add note title -->
                            <textarea class="form-control mt-2" id="noteTitle" placeholder="Title of the Note" style="height: 100px;"></textarea>

                            <!-- add note content -->
                            <textarea class="form-control mt-2" id="noteTextContent" placeholder="Content of note" style="height: 450px;"></textarea>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick=sendCreateRequest()>Save</button>
                          </div>
                        </div>
                      </div>
                    </div>

  <hr>

    <div id="notes" class="row container-fluid">
      <div class="container mt-4">
        <div class="row" id="card_canvas"> 
          {% for note in notes %}
          <!-- display note data -->
          <div class="col-md-4 mb-4" id="{{ note.noteId }}">
            <div class="card note-card bg-light shadow-sl" >
              <div class="card-body">
                <h5 class="card-title text-center">{{ note.title }}</h5>
                <p class="card-text">{{ note.textContent|truncatechars:50 }}</p>
                <div class="card-buttons">

                  <!-- Delete Button -->
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_staticBackdrop_{{note.noteId}}">
                    Delete
                  </button>

                  <!-- Delete Button Trigger Modal - Vertically centered modal-->
                  <div class="modal fade" id="delete_staticBackdrop_{{note.noteId}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">{{ note.title }}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this note? Once deleted, the note will be permanently removed.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-danger" onclick=sendDeleteRequest("{{ note.noteId }}")>Understood</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  

                  <!-- Edit Button -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_staticBackdrop_{{note.noteId}}">
                    Edit
                  </button>

                  <!-- Edit Button Trigger Modal - Vertically centered modal-->
                  <div class="modal fade" id="edit_staticBackdrop_{{note.noteId}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">{{ note.title }}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <textarea class="form-control" id="textContent_{{ note.noteId }}">{{ note.textContent}}</textarea>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" onclick=sendEditRequest("{{ note.noteId }}")>Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  
                    <!-- View Button -->
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#view_staticBackdrop_{{note.noteId}}">
                    View
                  </button>

                  <!-- View Button Trigger Modal - Vertically centered modal-->
                  <div class="modal fade" id="view_staticBackdrop_{{note.noteId}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">{{ note.title }}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          {{ note.textContent}}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                <!-- Note metadata-->
                </div>
                  <p class="card-info mt-4">
                    <span class="badge bg-light text-dark">Category:</span>
                    <span class="badge badge-pill badge-info">{{ note.labels }}</span>
                    <br>
                    <span class="badge bg-light text-dark">Last updated at:</span>
                    <span class="badge badge-pill badge-info">{{ note.userEditedTimestamp|date:"F j, Y, g:i a" }}</span>
                    <br>
                    <span class="badge bg-light text-dark">Created at:</span>
                    <span class="badge badge-pill badge-info">{{ note.createdTimestamp|date:"F j, Y, g:i a" }}</span>
                  </p>
              </div>
            </div>
          </div> 
          {% endfor %} 
        </div>
      </div>
    </div>
    </div>
    </div>

  <!-- Option 2: Separate Popper and Bootstrap JS -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  </body>
</html>